@import url('https://fonts.googleapis.com/css?family=Caudex');

* {
    font-family: 'Caudex', serif;
} 

body {
    background-color: #eee;
}

p, ul {
    margin: 0;
}

a,
a:hover,
a:active,
a:visited {
    color: purple;
}

.bg-primary {
    background-color: #ddd !important;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:focus {
    color: purple;
    box-shadow: none;
}

.nav-link:hover {
    transform: scale(1.1);
}

.nav-link {
    transition: all 0.5s ease-in-out !important;
}

.container-fluid {
    margin-top: 60px;
}

@media(max-width: 576px) {
    .container-fluid {
        margin-top: 80px;
    }
}

.page {
    display: none;
}

.page[data-active] {
    display: block;
}

.card {
    margin-bottom: 30px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.card-body {
    margin: 0 15px;
    background-color: white;
}

.card img {
    height: 200px;
    width: 80%;
    object-fit: cover;
    /* border-radius: 10px; */
    margin-bottom: 20px;
}

.card .card-img-top-github {
    object-fit: contain;
}

.card .card-body {
    box-shadow: 3px 3px 5px #ccc;
}

.card .card-text {
    max-width: 100%;
}

.card .card-text .description {
    display: inline-block;
    height: 50px;
}

.card strong {
    line-height: 40px;
}

.card .btn {
    border-radius: 0;
    line-height: 20px;
}

.bg-light {
    background: white;
}

.form-group:last-of-type {
    margin-bottom: 0;
}

.title {
    color: purple;
}