#characters.page
  +breadcrumb Characters
  .row
    .col-md-8.offset-md-2.py-3.mb-3.bg-light
      p Some of my favourite characters and characters that I identify with are:
      ul
        li from 
          a(href='https://en.wikipedia.org/wiki/Star_Trek',target='_blank') Star Trek
          | :
          ul
            li
              a(href='https://en.wikipedia.org/wiki/Spock',target='_blank') Spock
              | , because I often think of the world logically
            li
              a(href='http://memory-alpha.wikia.com/wiki/Spock_(mirror)',target='_blank') Evil (Mirror) Spock
              | , because of his outrageous beard and he's just hysterical
            li
              a(href='https://en.wikipedia.org/wiki/Data_%28Star_Trek%29',target='_blank') Data
              | , because I am curious, confused and if he was human he'd probably be autistic
        li from 
          a(href='https://en.wikipedia.org/wiki/Danganronpa',target='_blank') Danganronpa
          | :
          ul
            li
              a(href='https://en.wikipedia.org/wiki/List_of_Danganronpa_characters#Danganronpa_2:_Goodbye_Despair',target='_blank') Komaeda Nagito
              | , because I'm very lucky and obsessed with hope, and also trash
            li
              a(href='https://en.wikipedia.org/wiki/List_of_Danganronpa_characters#Danganronpa:_Trigger_Happy_Havoc',target='_blank') Chihiro Fujisaki
              | , because I love programming and feel similar about life
        li from 
          a(href='https://en.wikipedia.org/wiki/Miss_Kobayashi%27s_Dragon_Maid',target='_blank') Kobayashi-san Chi no Maid Dragon
          | :
          ul
            li
              a(href='http://maid-dragon.wikia.com/wiki/Fafnir',target='_blank') Fafnir
              | , because he's dapper, awesome, interesting and acts hilariously
        li from 
          a(href='https://en.wikipedia.org/wiki/Future_Diary',target='_blank') Mirai Nikki
          | :
          ul
            li
              a(href='http://futurediary.wikia.com/wiki/Yukiteru_Amano',target='_blank') Yukiteru Amano
              |, because my waifu is Yuno, and Yuki is depressed and I would act like he acts in the OVA
        li from 
          a(href='https://en.wikipedia.org/wiki/Berserk_%28manga%29',target='_blank') Berserk
          | :
          ul
            li
              a(href='https://en.wikipedia.org/wiki/List_of_Berserk_characters#Griffith',target='_blank') Griffith
              |, because he's sneaky and smart and he looks fabulous
        li from 
          a(href='https://en.wikipedia.org/wiki/Black_Butler',target='_blank') Kuroshitsuji
          | :
          ul
            li
              a(href='[spoilers]',target='_blank') Grell Sutcliff
              |, because he's hysterical, fabulous and has good taste in butlers
        li from 
          a(href='https://en.wikipedia.org/wiki/The_Ancient_Magus%27_Bride',target='_blank') Mahoutsukai no Yome
          | :
          ul
            li
              a(href='http://ancientmagusbride.wikia.com/wiki/Elias_Ainsworth',target='_blank') Elias Ainsworth
              |, because he's caring, doesn't act like outrageous humans and Chise is my waifu
        li from 
          a(href='https://en.wikipedia.org/wiki/Neon_Genesis_Evangelion',target='_blank') Neon Genesis Evangelion
          | :
          ul
            li
              a(href='https://en.wikipedia.org/wiki/Shinji_Ikari',target='_blank') Shinji Ikari
              |, because... existentialism, essentially. He's a whiner, but I like his thought patterns when he's being existential.
        li from 
          a(href='https://en.wikipedia.org/wiki/My_Little_Pony:_Friendship_Is_Magic',target='_blank') MLP
          | :
          ul
            li
              a(href='https://en.wikipedia.org/wiki/List_of_My_Little_Pony%3A_Friendship_Is_Magic_characters#Twilight_Sparkle',target='_blank') Twilight Sparkle
              |, because knowledge and being awesome
        li from 
          a(href='https://en.wikipedia.org/wiki/Alice%27s_Adventures_in_Wonderland',target='_blank') Alice's Adventures in Wonderland
          | :
          ul
            li
              a(href='https://en.wikipedia.org/wiki/Hatter_(Alice%27s_Adventures_in_Wonderland)',target='_blank') The Mad Hatter
              |, because I like his sense of humour, eccentricity and hats
        li from 
          a(href='https://www.youtube.com/user/TVFilthyFrank',target='_blank') The Filthy Frank Show
          | :
          ul
            li
              a(href='http://filthy-frank.wikia.com/wiki/Filthy_Frank',target='_blank') Real Frank
              |, because he's lost and good to his crew. ^Also depression, yay^
        li from 
          a(href='https://en.wikipedia.org/wiki/Back_to_the_Future_(franchise)',target='_blank') Back to the Future
          | :
          ul
            li
              a(href='https://en.wikipedia.org/wiki/Emmett_Brown',target='_blank') "Doc" Emmett Brown
              |, because he's eccentric and time travel, hell yeah
        li from 
          a(href='https://en.wikipedia.org/wiki/Doctor_Who',target='_blank') Doctor Who
          | :
          ul
            li
              a(href='https://en.wikipedia.org/wiki/The_Doctor_(Doctor_Who)',target='_blank') The Doctor
              |, again because of eccentricity, inventions and awesomeness
        li from 
          a(href='https://en.wikipedia.org/wiki/Battleborn_(video_game)',target='_blank') Battleborn
          | :
          ul
            li
              a(href='https://battleborn.com/en/battleborn/marquis/',target='_blank') Marquis
              |, because those quotes are amazing, dunk dunk dunk!