#characters.page
  +breadcrumb Characters
  .row
    .col-md-8.offset-md-2.py-3.mb-3.bg-light
      p Some of my favourite characters and characters that I identify with are:
      ul
        li from 
          +external-link('https://en.wikipedia.org/wiki/Star_Trek') Star Trek
          | :
          ul
            li
              +external-link('https://en.wikipedia.org/wiki/Spock') Spock
              | , because I often think of the world logically
            li
              +external-link('http://memory-alpha.wikia.com/wiki/Spock_(mirror)') Evil (Mirror) Spock
              | , because of his outrageous beard and he's just hysterical
            li
              +external-link('https://en.wikipedia.org/wiki/Data_%28Star_Trek%29') Data
              | , because I am curious, confused and if he was human he'd probably be autistic
        li from 
          +external-link('https://en.wikipedia.org/wiki/Danganronpa') Danganronpa
          | :
          ul
            li
              +external-link('https://en.wikipedia.org/wiki/List_of_Danganronpa_characters#Danganronpa_2:_Goodbye_Despair') Nagito Komaeda
              | , because I'm very lucky and obsessed with hope, and also trash
            li
              +external-link('https://en.wikipedia.org/wiki/List_of_Danganronpa_characters#Danganronpa:_Trigger_Happy_Havoc') Chihiro Fujisaki
              | , because I love programming and feel similar about life
        li from 
          +external-link('https://en.wikipedia.org/wiki/Miss_Kobayashi%27s_Dragon_Maid') Kobayashi-san Chi no Maid Dragon
          | :
          ul
            li
              +external-link('http://maid-dragon.wikia.com/wiki/Fafnir') Fafnir
              | , because he's dapper, awesome, interesting and acts hilariously
        li from 
          +external-link('https://en.wikipedia.org/wiki/Future_Diary') Mirai Nikki
          | :
          ul
            li
              +external-link('http://futurediary.wikia.com/wiki/Yukiteru_Amano') Yukiteru Amano
              |, because my waifu is Yuno, and Yuki is depressed and I would act like he acts in the OVA
        li from 
          +external-link('https://en.wikipedia.org/wiki/Berserk_%28manga%29') Berserk
          | :
          ul
            li
              +external-link('https://en.wikipedia.org/wiki/List_of_Berserk_characters#Griffith') Griffith
              |, because he's sneaky and smart and he looks fabulous
        li from 
          +external-link('https://en.wikipedia.org/wiki/Black_Butler') Kuroshitsuji
          | :
          ul
            li
              +external-link('[spoilers]') Grell Sutcliff
              |, because he's hysterical, fabulous and has good taste in butlers
        li from 
          +external-link('https://en.wikipedia.org/wiki/The_Ancient_Magus%27_Bride') Mahoutsukai no Yome
          | :
          ul
            li
              +external-link('http://ancientmagusbride.wikia.com/wiki/Elias_Ainsworth') Elias Ainsworth
              |, because he's caring, doesn't act like outrageous humans and Chise is my waifu
        li from 
          +external-link('https://en.wikipedia.org/wiki/Neon_Genesis_Evangelion') Neon Genesis Evangelion
          | :
          ul
            li
              +external-link('https://en.wikipedia.org/wiki/Shinji_Ikari') Shinji Ikari
              |, because... existentialism, essentially. He's a whiner, but I like his thought patterns when he's being existential.
        li from 
          +external-link('https://en.wikipedia.org/wiki/My_Little_Pony:_Friendship_Is_Magic') MLP
          | :
          ul
            li
              +external-link('https://en.wikipedia.org/wiki/List_of_My_Little_Pony%3A_Friendship_Is_Magic_characters#Twilight_Sparkle') Twilight Sparkle
              |, because knowledge and being awesome
        li from 
          +external-link('https://en.wikipedia.org/wiki/Alice%27s_Adventures_in_Wonderland') Alice's Adventures in Wonderland
          | :
          ul
            li
              +external-link('https://en.wikipedia.org/wiki/Hatter_(Alice%27s_Adventures_in_Wonderland)') The Mad Hatter
              |, because I like his sense of humour, eccentricity and hats
        li from 
          +external-link('https://www.youtube.com/user/TVFilthyFrank') The Filthy Frank Show
          | :
          ul
            li
              +external-link('http://filthy-frank.wikia.com/wiki/Filthy_Frank') Real Frank
              |, because he's lost and good to his crew. ^Also depression, yay^
        li from 
          +external-link('https://en.wikipedia.org/wiki/Back_to_the_Future_(franchise)') Back to the Future
          | :
          ul
            li
              +external-link('https://en.wikipedia.org/wiki/Emmett_Brown') "Doc" Emmett Brown
              |, because he's eccentric and time travel, hell yeah
        li from 
          +external-link('https://en.wikipedia.org/wiki/Doctor_Who') Doctor Who
          | :
          ul
            li
              +external-link('https://en.wikipedia.org/wiki/The_Doctor_(Doctor_Who)') The Doctor
              |, again because of eccentricity, inventions and awesomeness
        li from 
          +external-link('https://en.wikipedia.org/wiki/Battleborn_(video_game)') Battleborn
          | :
          ul
            li
              +external-link('https://battleborn.com/en/battleborn/marquis/') Marquis
              |, because those quotes are amazing, dunk dunk dunk!