#contact.page
  +breadcrumb Contact
  .row
    .col-lg-6.offset-lg-3.col-sm-12.col-md-12.col-xs-12.bg-light.p-3.mb-3
      p If you would like to contact Dan, please use this form:
      form(action='https://formspree.io/website@dandart.co.uk' method='post')
        .form-group
          label(for='name') Your name
          input#name.form-control(type='text' placeholder='John Smith' name='name' autocomplete='name')
        .form-group
          label(for='email') Your email
          input#email.form-control(type='email' aria-describedby='emailHelp' placeholder='john@smith.com' name='email' autocomplete='email')
          small#emailHelp.form-text.text-muted I&apos;ll never share your email with anyone else.
        .form-group
          label(for='subject') Summary
          input#subject.form-control(type='text' placeholder='Greetings...' name='_subject')
        .form-group
          label(for='message') Your message
          textarea#message.form-control(placeholder='Hello!...' rows='10' name='message')
        .form-group
          input.btn.btn-primary(type='submit' value='Send')