#health.page
  +breadcrumb Health
  .row
    .col-md-8.offset-md-2.py-3.mb-3.bg-light
      p Both my physical and mental health are very low at the moment, but I am always more than happy to talk about them.
      p I think I'm addicted to caffeine, which I wouldn't recommend.
      p I have been diagnosed with the following things, both physical and mental intermingling:
      ul
        li Mild 
          a(href='https://en.wikipedia.org/wiki/Amnesia',target='_blank') short-term memory loss 
          | (allegedly caused by mild 
          a(href='https://en.wikipedia.org/wiki/Posttraumatic_stress_disorder',target='_blank') PTSD
          | )
        li
          a(href='https://www.nhs.uk/conditions/fibromyalgia/',target='_blank') Fibromyalgia
        li
          a(href='https://www.nhs.uk/conditions/autism/',target='_blank') Asperger's Syndrome
        li
          a(href='https://www.nhs.uk/conditions/attention-deficit-hyperactivity-disorder-adhd/',target='_blank') ADHD
          |  (however it is not as H as it used to be)
        li
          a(href='https://www.nhs.uk/conditions/generalised-anxiety-disorder/',target='_blank') Anxiety
