#intro.page
  +breadcrumb Intro
  .row
    .col-md-8.offset-md-2.py-3.mb-3.bg-light
      p Hello, my name is Dan.
      p I am a software engineer, mathematics lover, radio ham and musician.
      p I work remotely to care for my future wife,
        |&nbsp;
        a(href='http://tsumikimikan.com',target='_blank') Tsumiki
        |.
      p I enjoy coffee, I think I'm addicted to caffeine. Don't be if you can help it!
      p I also enjoy discordant and nonsensical commentary.
      p Topics I can talk about at length:
      ul
        li Maths
        li Physics
        li Computer Science
        li Linguistics
      p Favourite YouTube channels:
      ul
        li
          a(href='https://www.youtube.com/user/numberphile',target='_blank') Numberphile
        li
          a(href='https://www.youtube.com/user/Vsauce',target='_blank') Vsauce
      p Diagnoses:
      ul
        li
          a(href='https://www.nhs.uk/conditions/autism/',target='_blank') Asperger's Syndrome
        li
          a(href='https://www.nhs.uk/conditions/fibromyalgia/',target='_blank') Fibromyalgia
        li
          a(href='https://www.nhs.uk/conditions/generalised-anxiety-disorder/',target='_blank') Anxiety
      p Favourite coding languages:
      ul
        li
          a(href='https://www.typescriptlang.org/',target='_blank') TypeScript
          |  (for serious work)
        li
          a(href='https://en.wikipedia.org/wiki/JavaScript',target='_blank') Javascript
          |  (for small, easy things)
        li
          a(href='https://pugjs.org',target='_blank') Pug
          |  (used to generate this website)
      p Favourite FPS games:
      ul
        li
          a(href='http://www.idsoftware.com/en-gb',target='_blank') Quake
        li
          a(href='http://sauerbraten.org/',target='_blank') Cube 2: Sauerbraten
        li
          a(href='https://en.wikipedia.org/wiki/The_Elder_Scrolls_IV:_Oblivion',target='_blank') The Elder Scrolls IV: Oblivion
      p Favourite operating systems:
      ul
        li
          a(href='http://www.gnu.org/gnu/why-gnu-linux.en.html',target='_blank') GNU/Linux
          |: 
          a(href='http://kubuntu.org',target='_blank') Kubuntu
        li
          a(href='https://en.wikipedia.org/wiki/Blue_Screen_of_Death',target='_blank') Windows
          |: 
          a(href='https://en.wikipedia.org/wiki/Windows_98',target='_blank') 98
        li
          | All-time: 
          a(href='http://riscos.com/riscos/310/index.php',target='_blank') RISC OS
      p Favourite musical styles:
      ul
        li Prog Rock
        li Heavy Metal
        li Ambient
        li Classical