#intro.page
  +breadcrumb Intro
  .row
    .col-md-8.offset-md-2.py-3.mb-3.bg-light
      p Hello, my name is Dan.
      p I am a software engineer, mathematics lover, radio ham and musician.
      p I work remotely to care for my future wife,
        |&nbsp;
        +external-link('http://tsumikimikan.com') Tsumiki
        |.
      p I also enjoy discordant and nonsensical commentary.
      p I can speak about maths, physics, computer science and linguistics at length.
      p You can find out more by using the links at the top.