#intro.page
  +breadcrumb Intro
  p Dan is a software engineer, mathematics lover, radio ham and musician.
  p He doesn't know what else to put on this page, so here's a picture of his face.
  p
    img(style='width:200px;height:200px;border-radius:100px',src='/img/dan.jpg')