#maths.page
  +breadcrumb Maths
  .row
    .col-md-8.offset-md-2.py-3.bg-light
      p Mathematics has always been a great pastime for me.
      p I have invented quite a few visualisations and generators for several interesting pieces of mathematics, some of which you can see and try on repos like my projects repo on GitHub (
        +external-link('https://github.com/danwdart/projects/tree/master/haskell/src/maths') Haskell examples
        | &nbsp;
        +external-link('https://github.com/danwdart/projects/tree/master/js/maths') JS examples
        | )
      p Some web-based notable (read: working right now) examples are:
      ul
        li
          +external-link('https://danwdart.github.io/projects/js/maths/src/cfe/index.html') Continued Fraction Expander
        li A set of gravity simulators:
          ul
            li
              +external-link('https://danwdart.github.io/gravity/2/gravity.html') Sun version (left click for planets, middle click for stars)
            li
              +external-link('https://danwdart.github.io/gravity/4/gravity.html') Black hole version
        li
          +external-link('https://danwdart.github.io/projects/js/maths/src/cellautomata/') Cell Automata
        li
          +external-link('https://danwdart.github.io/projects/js/maths/src/graphAndSound/') Graph and Sound Demos
          br
          | &nbsp;(one of these is actually the answer similar to 
          +external-link('https://www.youtube.com/watch?v=zSL8asTgpzA') the riddle 
          | I posed on my YouTube channel)
        li
          +external-link('https://danwdart.github.io/projects/js/rolling/') Rolling Shutter effect example
        li
          +external-link('https://danwdart.github.io/heartish/cardint.html') Interactive Cardioid (keyboard only)
        li
          +external-link('https://danwdart.github.io/heartish/card.html') Random Cardioid
        li
          +external-link('https://danwdart.github.io/heartish/index.html') Circle Reflection
      p My approved &nbsp;
        a(href='https://oeis.org',target='_blank',title='Online Encyclopedia of Integer Sequences') OEIS
        | &nbsp;sequences are:
      ul
        li
          +external-link('https://oeis.org/A275124') A275124: Multiples of 5 where Pisano periods of Fibonacci numbers A001175 and Lucas numbers A106291 agree.
        li
          +external-link('https://oeis.org/A275167') A275167: Pisano periods of A275124.
        li
          +external-link('https://oeis.org/A308267') A308267: Numbers which divide their Zeckendorffian format exactly.
        li
          +external-link('https://oeis.org/A309979') A309979: Hash Parker numbers: Integers whose real 32nd root's first six nonzero digits (after the decimal point) rearranged in ascending order are equal to 234477. 