#music.page
  +breadcrumb Music
  p I play the guitar, keyboard and synthesiser.
  p I've created the following pieces of music/sound effects:
  p Gothic Orchestra
  p
    audio(controls)
      source(src='/music/GothicOrchestra.ogg')
      source(src='/music/SatanicOrchestra.mp3')
    | &nbsp;
    a(href='/music/GothicOrchestra.ogg',target='_blank') OGG
    | &nbsp;
    a(href='/music/SatanicOrchestra.mp3',target='_blank') MP3
  p Shall It Be
  p
    audio(controls)
      source(src='/music/ShallItBe.ogg')
      source(src='/music/ShallItBe.mp3')
    | &nbsp;
    a(href='/music/ShallItBe.ogg',target='_blank') OGG
    | &nbsp;
    a(href='/music/ShallItBe.mp3',target='_blank') MP3
  p Swim Deep (take 1)
  p
    audio(controls)
      source(src='/music/SwimDeepTake1.ogg')
      source(src='/music/SwimDeepTake1.mp3')
    | &nbsp;
    a(href='/music/SwimDeepTake1.ogg',target='_blank') OGG
    | &nbsp;
    a(href='/music/SwimDeepTake1.mp3',target='_blank') MP3