#music.page
  +breadcrumb Music
  .row
    .col-md-8.offset-md-2.py-3.bg-light
      p I play the guitar, keyboard and synthesiser.
      p I've created the following pieces of music/sound effects:
      .border.m-3
        p.m-3
          strong Gothic Orchestra
        p
          audio(controls)
            source(src='/music/GothicOrchestra.ogg')
            source(src='/music/SatanicOrchestra.mp3')
          | &nbsp;
          +external-link('/music/GothicOrchestra.ogg') OGG
          | &nbsp;
          +external-link('/music/SatanicOrchestra.mp3') MP3
      .border.m-3
        p.m-3
          strong Shall It Be
        p
          audio(controls)
            source(src='/music/ShallItBe.ogg')
            source(src='/music/ShallItBe.mp3')
          | &nbsp;
          +external-link('/music/ShallItBe.ogg') OGG
          | &nbsp;
          +external-link('/music/ShallItBe.mp3') MP3
      .border.m-3
        p.m-3
          strong Swim Deep (take 1)
        p
          audio(controls)
            source(src='/music/SwimDeepTake1.ogg')
            source(src='/music/SwimDeepTake1.mp3')
          | &nbsp;
          +external-link('/music/SwimDeepTake1.ogg') OGG
          | &nbsp;
          +external-link('/music/SwimDeepTake1.mp3') MP3