footer
  p Copyright © JolHarg Ltd. 2018. &nbsp;
    a(href='https://github.com/JolHarg/jolharg',target='_blank') Source
    | &nbsp;|&nbsp;
    a(href='https://github.com/JolHarg/jolharg/blob/master/LICENSE',target='_blank') Licence