div
  ul.navbar-nav
    +menuitem('#intro') Intro
    +menuitem('#ham') Ham Radio
    +menuitem('#music') Music
    +menuitem('#maths') Maths
    +menuitem-external('https://jolharg.com') Software
    +menuitem-external('https://tuxtor.blogspot.co.uk') Blog
    +menuitem('#contact') Contact