div
  ul.navbar-nav.px-3
    +menuitem('Intro', true)
      include ../pages/intro
    +menuitem('Ham Radio')
      include ../pages/ham
    +menuitem('Music')
      include ../pages/music
    +menuitem('Maths')
      include ../pages/maths   
    +menuitem-external('https://jolharg.com') Software
    +menuitem-external('https://tuxtor.blogspot.co.uk') Blog
    +menuitem('Contact')
      include ../pages/contact