div
  ul.navbar-nav.px-3
    +menuitem('Intro', true)
      include ../pages/intro
    +menuitem('Characters')
      include ../pages/characters
    +menuitem('Favourites')
      include ../pages/favs
    +menuitem('Ham Radio')
      include ../pages/ham
    +menuitem('Health')
      include ../pages/health
    +menuitem('Music')
      include ../pages/music
    +menuitem('Maths')
      include ../pages/maths
    +menuitem('About This Site')
      include ../pages/about
    +menuitem-external('https://jolharg.com') Software
    +menuitem-external('https://blog.dandart.co.uk') Blog
    +menuitem-external('https://chihiro.dandart.co.uk') WIP Blog Upgrade
    +menuitem('Contact')
      include ../pages/contact