include mixins/index
doctype html
head
  include includes/head
include includes/header
main.container-fluid
  .tab-content
    include pages/intro
    include pages/ham
    include pages/music
    include pages/maths    
    include pages/blog
    include pages/contact